.card-body{
    svg{
        font-size: 100px;
    }
    p{
        color: #8e8e8e;
        font-size: 15px;
    }
    form{
        button{
            background-color: #0095f6;

            &:hover{
                background-color:#0095f6;
            }
        }
    }
    .divider{
        position: relative;
        margin: 34px 0px 15px;

        &::before{
            content: "";
            clear: both;
            display: block;
            position: absolute;
            width: 135px;
            height: 2px;
            background: #d4d4d4;
            top: 11px;
            right: 0px;
        }

        &::after{
            content: "";
            clear: both;
            display: block;
            position: absolute;
            width: 135px;
            height: 2px;
            background: #d4d4d4;
            top: 11px;
            left: 0px;
        }
    }
}
.font-wight{
    font-weight: 500;
}